@keyframes revealFromTop {

    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.container {
    width: 80%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    background: rgb(107, 255, 151);
    color: black;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    transform: translateY(-100%);
    animation: revealFromTop 1s ease-out forwards;
}