@keyframes revealFromTop {

    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.container {
    width: 80%;
    display: fixed;
    margin: auto;
    background: rgba(0, 255, 76, 0.205);
    color: black;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    transform: translateY(-100%);
    animation: revealFromTop 1s ease-out forwards;
}