DB_CONNECT = mongodb+srv://username:password@clustername.xsbtfy9.mongodb.net/?retryWrites=true&w=majority
TOKEN_SECRET = secret token
AWS_ACCESS_KEY_ID="access_id"
AWS_ACCESS_KEY_SECRET="secret_id"
AWS_BUCKET_NAME="bucket_name"