DB_CONNECT = mongodb+srv://username:password@clustername.xsbtfy9.mongodb.net/?retryWrites=true&w=majority
TOKEN_SECRET = secret token
AWS_ACCESS_KEY_ID="access_id"
AWS_ACCESS_KEY_SECRET="secret_id"
AWS_BUCKET_NAME="bucket_name"

REDIS_HOST="host url"
REDIS_PORT="port"
REDIS_USER="default"
REDIS_PASSWORD="redis password"



GOOGLE_OAUTH_CLIENT_ID="google oauth client id"
GOOGLE_OAUTH_CLIENT_SECRET="google oauth client secret"
GOOGLE_OAUTH_REDIRECT_URI="google oauth redirect"