.search {
    max-width: 250px;
    border-radius: 40px;
    border: 1px solid white;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_btn {
    float: right;
    width: 28px;
    height: 28px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}

.search_btn:hover {
    background: white;
}

.search_txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0 4px;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    color: white;
}

.search_txt::placeholder {
    color: white;
}

.search_icon {
    font-size: 20px;
    color: white;
}

.search_icon:hover {
    color: black;
}


@media (max-width: 800px) {
    .search_txt {
        font-size: 14px;
    }

    .search_icon {
        font-size: 14px;
    }
}