.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20%;
    margin-bottom: 80px;
}

.message {
    padding: 20px;
}

.url_card {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
    width: 100%;
    background: black;
    color: white;
}

.url_card:hover {
    background-color: rgba(0, 0, 0, 0.075);
    color: black;
}

.delete_button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: grid;
    place-items: center;
    color: red;
    border-radius: 50%;
}

.delete_button:hover {
    color: rgb(228, 14, 14);
    background-color: black;
}

@media (max-width:750px) {

    .url_card {
        width: 100%;
    }
}