 .line_container {
     z-index: 777;
     width: 100%;
     height: 2px;
     position: fixed;
     top: 0;
     overflow: hidden;
 }

 .img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 5px;
 }

 .moving_gradient {
     width: 100%;
     height: 100%;
     background: linear-gradient(91deg, #d16035, #f82efe, #1142c4, #85d978, #add985);
     background-size: 300% 300%;
     animation: moveGradient 6s ease infinite;
 }

 @keyframes moveGradient {
     0% {
         background-position: 0% 50%;
     }

     50% {
         background-position: 100% 50%;
     }

     100% {
         background-position: 0% 50%;
     }
 }



 /* --------navbar-------- */
 .nav {
     background-color: black;
     color: white;
     z-index: 3;
     position: sticky;
     top: 0;
     left: 0;
     right: 0;
     width: 100vw;
     height: 70px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .nav_container {
     max-width: 1200px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0px 34px;
     gap: 20px;
 }

 .title_image {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .image_anchor {
     display: flex;
     align-items: center;
 }

 .menuicon {
     align-self: center;
     display: none;
     font-size: 40px;
 }

 .nav_title {
     font-weight: bold;
     font-size: 20px;
     grid-area: brand;
 }

 .menuitems_expanded {
     display: flex;
     gap: 6px;
 }

 .button {
     white-space: nowrap;
     font-size: 18px;
     border-radius: 40px;
     padding: 2px 10px;
     border: 1px solid rgba(255, 255, 255, 0.459);
     cursor: pointer;
     display: flex;
     align-items: center;
 }

 .button:hover {
     border-color: #07cc00;
 }

 .active {
     border: 1px solid white;
 }

 .searchbarandmenu {
     width: 70%;
     display: flex;
     flex-direction: row;
     justify-content: end;
     gap: 10px;
 }

 .bold_button {
     background-color: white;
     border: none;
     color: black;
     font-weight: bold;
 }

 .bold_button:hover {
     background-color: #07cc00;
     color: white;
 }

 .menuitems_collapse {
     position: fixed;
     z-index: 2;
     background-color: black;
     color: white;
     width: 100%;
     padding: 40px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 20px;
     display: none;
 }

 .menuitems_collapse .button {
     width: 150px;
     align-items: center;
     justify-content: center;
 }

 .keywords_wrapper {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
 }


 .keywords_container {
     position: fixed;
     z-index: 3;
     background-color: rgba(0, 0, 0, 0.089);
     color: black;
     width: 100%;
     padding: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
     border-radius: 0px 0px 0px 6px;

 }

 .keyword {
     font-size: 18px;
     border-radius: 40px;
     padding: 2px 10px;
     border: 1px solid #0005;
     cursor: pointer;
     display: flex;
     align-items: center;
 }

 .keyword:hover {
     border: 1px solid green;
 }

 @media (max-width: 800px) {

     .nav_container {
         padding: 16px 24px;
     }

     .nav_title {
         font-size: 20px;
     }

     .menuitems_expanded {
         display: none;
     }

     .menuitems_collapse {
         display: flex;
     }

     .menuicon {
         display: inline;
         cursor: pointer;
         user-select: none;
         font-size: 30px;
     }
 }