.wrapper {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    margin-top: 20%;
    margin-bottom: 80px;
}

.profile_box {
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.name_bio_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.url_box {
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.url_card {
    width: 100%;
    color: white;
    font-size: 1.2rem;
}

.url_card:hover {
    color: black;
}

/* ---------------------------- */

.message {
    padding: 20px;
}

.url_card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
    width: 100%;
    border-radius: 13px;
    background: black;
}

.url_card:hover {
    background-color: rgba(0, 0, 0, 0.103);
}


/* --------------------profile-------------------- */

.outer_ring {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
}

.img_wrap {
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
}

.img {
    width: auto;
    height: 100%;
}

.name {
    font-size: 1.8rem;
}

.bio {
    font-size: 1.2rem;
}


/* ---------------------------------------- */
@media only screen and (max-width: 700px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
    }

    .profile_box {
        margin: 20px 0px;
        height: auto;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_wrap {
        width: 120px;
        height: 120px;
    }

}