/* .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 50px auto;
}

.profile_box {
    flex: 1;
    position: fixed;
    width: 30%;
    height: 340px;
    display: flex;
    justify-content: center;

}

.url_box {
    flex: 1;
    margin-left: 30%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


/* ---------------------------- */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.profile_box {
    width: 30%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.url_box {
    margin-left: auto;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.url_card {
    width: 100%;
}

/* ---------------------------- */

.message {
    padding: 20px;
}

.url_card {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 40px; */
    padding: 20px 30px;
    width: 60%;
    height: 120px;
    background-color: blueviolet;
    border-radius: 13px;
    background: #49afa8;
    box-shadow: 5px 5px 10px #357e79,
        -5px -5px 10px #5de0d7;

}

.url_card:hover {
    box-shadow: inset 5px 5px 10px #357e79,
        inset -5px -5px 10px #5de0d7;
}


/* --------------------profile-------------------- */

.container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.outer_ring {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);
    margin-bottom: 25px;
}

.img_wrap {
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
}

.img {
    width: auto;
    height: 100%;
}


.name {
    font-size: 22px;
}

.status {
    font-size: 18px;
}

.bio {
    font-size: 18px;
}


/* ---------------------------------------- */
@media only screen and (max-width: 1000px) {
    .url_card {
        width: 80%;
    }
}


/* ---------------------------------------- */
@media only screen and (max-width: 700px) {
    .wrapper {
        display: flex;
        flex-direction: column;

        margin: 80px 20px;
    }

    .url_card {
        width: 100%;
    }
}