@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient_bg {
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient_bar {
  background: linear-gradient(103.22deg, #9538f8 -13.86%, #f8ad84 99.55%);
}

.gradient_text {
  background: linear-gradient(89.97deg, #9538f8 -13.86%, #f8ad84 99.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_box {
  /* background: radial-gradient(circle at 48% 30%, rgb(2, 13, 24) 0%, rgb(3, 23, 44) 74%); */
  background: radial-gradient(circle at 98% 97%, rgb(2, 34, 66) 0%, rgba(1, 21, 42, 1) 46%, rgb(3, 31, 58) 100%);

}