.main_wrapper {
    position: relative;
    background-color: rgba(0, 0, 0, 0.015);
    max-width: calc(1100px);
    margin: auto;
    overflow: none;
}

.container {
    min-height: 90svh;
    max-width: 600px;
    margin: auto;
    padding: 0px 20px;
}