.wrapper {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;

}

.l li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 14px;
    box-shadow: 5px 5px 10px #357e79,
        -5px -5px 10px #5de0d7;
}

/* p {
    font-size: 16px;
    align-self: center;
} */

.list_items {
    list-style: none;
}

.inputField {
    border: 1px solid rgb(45, 209, 154);
    border-radius: 0.25rem;
    padding: 0.5em 0.75em;
    color: black;
    background-color: transparent;
    width: 100%;
}

.inputField::placeholder {
    opacity: 0.56;
    color: black;
}

.inputField:hover {
    border-color: yellow;
}

.inputField:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0px 0px 1px 1px yellow;
}


ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    align-self: center;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 5px 5px 10px #357e79,
        -5px -5px 10px #5de0d7;
}

li {
    margin: 2%;
    width: 100%;
}


.textsize {
    font-size: 20px;
}

@media only screen and (max-width: 1100px) and (min-width: 701px) {
    .wrapper {
        margin: auto;
    }

    ul {
        width: 100%;
    }

    li {
        margin: 2%;
        width: 100%;
    }

    .textsize {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        padding: 0;
        margin: auto;
    }

    .container {
        width: 85%;
    }

    ul {
        width: 100%;
    }

    li {
        margin: 2%;
        width: 100%;
    }

    .textsize {
        font-size: 16px;
    }
}